[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #888;
}

.eth-address {
  padding: 3px;
  position: relative;
  display: inline-grid;
  width: 100%;
  max-width: 368px;
  border-radius: 5px;
  margin: auto;
}

.hex {
  font-family: monospace;
}

.eth-address .blocky  {

}

.eth-address .err, 
.eth-address .bg {
  min-height: 32px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.eth-address .bg {
  background-color:#FFF;
}

.err {
  background-color:#f8d7da;
}

.eth-address .text {
  color: #808080;
}

.eth-address .indicator,
.eth-address .control
{
  color: #000;  
}

.eth-address .indicator,
.eth-address .control,
.eth-address .text {
  margin: auto 8px;
  overflow: hidden;
  
}

.eth-address .indicator,
.eth-address .text {
  cursor: pointer;
}

.eth-address .indicator span,
.eth-address .text span {
  display: flex;
}

.eth-address .control {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: none;
  background: none;
  border: none;
}

.eth-address .err:hover .control,
.eth-address .err:focus-within .control,
.eth-address .bg:focus-within .control,
.eth-address .bg:hover .control {
  display: block;
}

.eth-address .err:hover .indicator,
.eth-address .err:focus-within .indicator,
.eth-address .bg:focus-within .indicator,
.eth-address .bg:hover .indicator {
  display: none;
}

.eth-address .indicator small, 
.eth-address .text small {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flow-root;
  margin-top: 2px;
}

.eth-address .clip-icon .svg-icon path {
  fill:#000;
}
.eth-address .clip-icon {
  margin: auto 4px auto -4px;
  display: none;
}

.eth-address:hover .clip-icon {
  display: inline-block;
}
.eth-address .text span,
.eth-address .indicator span {
  margin: -2px auto;
}

.eth-address .ens-reverse small {
  margin-top: 0;
  margin-bottom: -0.25em;
}

.eth-address .menu {
  background-color: #FFF;
  position: absolute;
  display: grid;

  border: solid 1px #999;
  z-index: 999;
  top: 35px;
  right: 3px;
  border-radius: 0.25em;
}
.eth-address .menu a {
  padding: 2px 15px;
}
.eth-address .menu a:hover {
  cursor: pointer;
  background-color: #CCC;
}
.eth-address .more-icon {
  margin: 6px 5px 0 0;
}

.eth-address .more-icon path{
  fill: #000;
}

.eth-address .loading {
  margin: 8px;
}