.eth-address {
    padding: 3px;
    border-radius: 8px;
    position: relative;
    display: inline-grid;
    box-shadow: 1px 1px 1px 1px #CCC;
    border-top: solid 1px #FFF;
    border-left: solid 1px #FFF;
    margin: -2px 0 0 0;
  }
  
  .eth-address .blocky .identicon {
    border-radius: 0 8px 8px 0;
    margin-right: 10px;
  }
  
  .eth-address .address-err, 
  .eth-address .address-bg {
    border-radius: 8px;
    display: flex;
    overflow: hidden;
  }
  
  .eth-address .address-bg {
    background-color:#FFF;
  }
  
  .eth-address .address-err {
    background-color:#f8d7da;
  }
  
  .eth-address .address-text {
    color: #808080;
  }
  
  .eth-address .address-indicator,
  .eth-address .address-control
  {
    color: #000;
    padding-right: 8px;
  }
  
  .eth-address .address-indicator,
  .eth-address .address-control,
  .eth-address .address-text {
    overflow: hidden;
    margin: auto;
  }
  
  .eth-address .address-indicator,
  .eth-address .address-text {
    display: flex;
  }
  
  .eth-address .address-control {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: none;
  }
  
  .eth-address:focus-within .address-control,
  .eth-address:hover .address-control {
    display: flow-root;
  }
  
  .eth-address:focus-within .address-indicator,
  .eth-address:hover .address-indicator {
    display: none;
  }
  
  .eth-address .address-indicator small, 
  .eth-address .address-text small {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flow-root;
    margin-top: 0.25em;
  }